body{
	margin:0;
  background:#131313;
}
div{
  overflow:hidden;
}
#room{
  width:700px;
  height:400px;
  background:#000 url("");
}
#main{
  width:500px;
  height:400px;
  float:left;
}
#control{
  height:400px;
  width:200px;
}
#info{
  height:40px;
  width:500px;
}
#table{
  width:500px;
  height:360px;
  background:url(/images/game/table/table.gif);
}
#info_line{
  background:url("/images/game/back/3.gif");
}
#game_info{
  background:url("/images/game/back/3.gif");
	color:green;
}
#game_info .info_part{
	float:left;
	width:250px;
	height:40px;
	text-align:center;
}
#pot, #blinds{
	font-family:monospace;
	color:orange;
}
#log{
  background:url("/images/game/back/1.gif");
}
#notes{
  background:url("/images/game/back/2.gif");
}
#help{
  background:#000;
}
#actions{
  background:#000;
}
#control .block{
  height:100px;
}
#info .block{
  height:20px;
  width:500px;
}
#cards{
	position:absolute;
	top:170px;
	left:140px;
	width:220px;
	height:60px;
	background-image:url("/images/game/table/cards.png");
}
#cards div{
	height:60px;
	float:left;
}
#cards div img{
	margin:5px 5px;
	width:32px;
	height:50px;
	float:left;
}
#flop{
	width:132px;
}
#turn, #river{
	width:44px;
}
.action_button{
	outline:none;
}
.action_button img{
	border:0;
	padding-left:5px;
}
/* место игрока */
.sit{
	position:absolute;
	width:120px;
	height:85px;
  display:none;
	background:url("/images/game/sit/back.png") transparent;
}
.main_part{
	float:left;
	width:70px;
	height:90px;
}
.side_part{
	width:50px;
	height:90px;
}
.last_action{
	width:120px;
	height:15px;
}
.login{
	height:20px;
	width:70px;
	text-align:center;
	font-size:13px;
}
.cards{
	height:70px;
	width:100px;
}
.cards img{
	margin:10px 0 0 1px;
	width:34px;
	height:50px;
	float:left;
}
.buttons{
	height:20px;
	width:50px;
}
.side_block{
	height:35px;
	width:50px;
}
.side_block img{
	width:50px;
	height:35px;
}
.stack{
	width:50px;
	height:15px;
	margin-top:20px;
	font:10px monospace;
	text-align:center;
}