body{
  background:#131313;
}
div{
  overflow:hidden;
}
#room{
  width:700px;
  height:400px;
  background:#000 url("");
}
#main{
  width:500px;
  height:400px;
  float:left;
}
#control{
  height:400px;
  width:200px;
  margin-left:400px;
}
#info{
  height:40px;
  width:500px;
}
#table{
  width:500px;
  height:360px;
  background:url(/images/game/table.gif);
}
#info_line{
  background:url("/images/game/back/3.gif");
}
#game_info{
  background:url("/images/game/back/3.gif");
	color:green;
}
#game_info .info_part{
	float:left;
	width:250px;
	height:40px;
	text-align:center;
}
#pot, #blinds{
	font-family:monospace;
	color:orange;
}
#log{
  background:url("/images/game/back/1.gif");
}
#notes{
  background:url("/images/game/back/2.gif");
}
#help{
  background:#000;
}
#actions{
  background:#000;
}
#control .block{
  height:100px;
}
#info .block{
  height:20px;
  width:500px;
}




.sit{
	position:absolute;
	width:153px;
	height:90px;
  display:none;
	background:#ccc;
}
.main_part{
	float:left;
	width:100px;
	height:90px;
	background:#000;
}
.side_part{
	width:50px;
	margin-left:100px;
	height:90px;
	background:#fff;
}
.login{
	height:20px;
	width:100px;
	background:#0a0;
	text-align:center;
}
.cards{
	height:70px;
	width:100px;
	background:#00a;
}
.buttons{
	height:20px;
	width:50px;
	background:#040;
}
.side_block{
	height:35px;
	width:50px;
	background:#a00;
}
.side_block img{
	width:50px;
	height:35px;
}
.stack{
	width:50px;
	height:15px;
	margin-top:23px;
	font-size:10px;
	font-family:monospace;
	text-align:center;
}