#room{
	background-color:#ccc;
	width:500px;
	height:350px;
}
.player{
	position:absolute;
	width:100px;
	height:70px;
	border:2px solid green;
	background-color:#2ea;
}
.login{
	width:69%;
	height:25%;
	border-bottom:1px solid #f00;
	float:left;
}
.actions{
	width:29%;
	height:25%;
	border-bottom:1px solid #f00;
	border-left:1px solid #f00;
	float:left;
}
.cards{
	float:left;
	width:69%;
	height:75%;
	border-right:1px solid #f00;
}
.timer{
	float:left;
	width:29%;
	height:25%;
}
.newbie{
	background-color:#0a0;
}
.pro{
	background-color:#a00;
}
.layer{
    background-color:#fff;
    position:absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}
.message{
    position:absolute;
    top:0;
    left:200px;
    width:200px;
    height:100px;
}
.info{
    background:url('/images/alert/info.gif') no-repeat;
}
.error{
    background:url('/images/alert/error.gif') no-repeat;
}
.message .text{
    margin:7px 0 0 65px;
    height:60px;
    font-family:Verdana;
    font-size:10pt;
}
.message .button{
    outline:none;
    margin-left:120px;
}