body{
	background: #1d1d1d;
}
form input, form select{
	background-color:#45070b;
	border-color:black;
	color:#ac6c12;
	font-weight:bold;
	font:8pt sans-serif;
	margin-bottom:5px;
}
h3, h4{
	text-align:center;
}
h5{
	font-style:italic;
}
table{
	font-size:12px;
	width:100%;
}
td{
	background:url('/images/main/fon_content.jpg');
	border-bottom:1px solid #ccc;
}
th{background:url('/images/main/fon_index.jpg');}
a:link {text-decoration: none;}
a:visited{text-decoration: none;}
a:active{text-decoration: none;}
a:hover{text-decoration: underline;}
a{color:#f93;}
td{white-space:nowrap;overflow:hidden;text-align:center;}
#index{
	width:710px;
	min-height:500px;
	background:url('/images/main/fon_content.jpg') #101010;
	margin:0 22%;
	padding-bottom:50px;
}
#head{
	width:710px;
	height:83px;
	background-color:#101010;
}
#head img{
	border:0;
}
#info_line{
	font-size:12px;
	text-align:center;
	padding:5px;
}
#info_line span{
	font-weight:bold;
}
#under_logo{
	width:710px;
}
#menu{
	float:left;
	width:145px;
	text-align:left;
	letter-spacing:1px;
}
#menu a{
	color:#f88f32;
	font:16px times;
	font-weight:bold;
	font-style:italic;
}
#menu ul{
	padding-left:20px;
}
#menu li{
	list-style-type:square;
	color:#b5894c;
}
#registration_form{
	height:200px;
	padding:10px;
}
#signin_form{
	margin-left:25%;
}
#required, #additional{
	width:50%;
	float:left;
}
#body{
	height:100%;
	margin-left:145px;
	padding-left:10px;
	color:#b5894c;
}
.flash{
	margin-top:5px;
	text-align:center;
}
#notice{
	border: 1px solid green;
	color:green;
}
#error{
	border: 1px solid red;
	color:red;
}
.clear{
	clear:both;
}
.errorExplanation{
	font:12px Tahoma;
}
.simple_captcha_image{
	padding:1px 0 3px 5px;
}

.started_game{
	color:red;
}
.finished_game{
	color:blue;
}
.waited_game{
	color:green;
}
#other_links{
	padding:10px;
	text-align:center;
}
td.title{
	font-size:1.5em;
	font-style:italic;
}